//Colors
:root {
  --idc-body-bg-color:#121721;
  --idc-sidebar-bg-color: #ffffff;
  --idc-sidebar-item-bg-color:#fff;
  --idc-heading-color:#18212B;
  --idc-main-text-color:#fff;
  --idc-secondary-text-color:#A8A8A8;
  --idc-decorator-color:#373737;
  --idc-btn-main-color:#464646;
  --idc-btn-reset-color:#9B2D30;
  --idc-btn-align-color:#0085FF;
  --idc-handlebar-bg-color:#6A6A6A;
  --idc-btn-disabld-color:#A8A8A8;
}
